modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34141
externalPort = 5000

[[ports]]
localPort = 37115
externalPort = 3003

[[ports]]
localPort = 39597
externalPort = 4200

[[ports]]
localPort = 40539
externalPort = 3001

[[ports]]
localPort = 43111
externalPort = 6000

[[ports]]
localPort = 43243
externalPort = 5173

[[ports]]
localPort = 44041
externalPort = 6800

[[ports]]
localPort = 45489
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[nix]
channel = "stable-25_05"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "gce"
build = ["npm", "run", "build"]
